* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #37474f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-web {
    width: 770px;
    height: 490px;
    background-color: #232931;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.left-content {
    width: 35%;
    height: 100%;
    background-color: #3f4a78;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right-content {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.time {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-time {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
}

.date {
    font-size: 35px;
    font-weight: 600;
}

.img-weather {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-weather img {
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-temp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
}

.number-temp {
    width: auto;
    height: auto;
    font-size: 30px;
    font-weight: 700;
}

.wrap-right-content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-search {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrap-search input {
    width: 80%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: solid 1px gray;
    font-size: 16px;
    padding-left: 10px;
    background-color: #232931;
    color: #ffffff;
    outline: none;
}

#id_list_city {
    width: 70%;
    height: 300px;
    top: 100%;
    right: 25%;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
}

.detail_list_city {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    margin-top: 2%;
}

.element_city {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.element_city:hover {
    background-color: rgb(115, 113, 113);
    color: white;
    cursor: pointer;
}

.wrap-search button {
    width: 20%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: rgb(92 107 192);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.infor-weather-city {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.list-detail-infor-weather-city {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.detail-infor-weather-city {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.more-day-later {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f4a78;
}

.wrap-more-day-later {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.the-day {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #ffffff;
}

.img-weather-day {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-weather-day img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-and-temp {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.wrap_loading {
    width: 100%;
    height: 100%;
    background-color: #37474f;
    opacity: 0.4;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    z-index: 10;
    opacity: 1;
    display: flex;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
